{% extends 'base.html' %}
{% block content %}
<form action="{{ url_for('question') }}" method=post class=add-entry>
    <h2>todo list:</h2>
       <textarea name=content rows=2 cols=20></textarea>
       <input type=submit value=submit>
</form>
<a href="{{ url_for('question')}}">问卷调查</a>
<ul>
    {content}
    {{content}}
    {% for todo in todos %}
    <li><p>{{todo.name}}
        <a href="{{ url_for('delete',content=todo.name)}}">delete</a>  <a href="{{ url_for('finish',content=todo.name)}}">done</a></p>
        {%- if todo.is_finished -%}
                <p>finished</p>
        {%- else-%}
                <p>unfinished</p>
        {%- endif %}
    </li>
    {% endfor %}

</ul>
{% endblock %}
