<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<table id="table" border="1" cellspacing="0" cellpadding="0" >
   <tr>
        <th>order_number</th>
        <th>question</th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
    </tr>
</table>
<script type="text/javascript">

window.onload=function(){
    var data={{questions_json|tojson}};

    var table=document.getElementById("table");
    for(var i=0;i<data.length;i++){
                            var row=table.insertRow(table.rows.length);
                            var c1=row.insertCell(0);
                            c1.innerHTML=data[i].order_number;
                            var c2=row.insertCell(1);
                            c2.innerHTML=data[i].question;
                            var c3=row.insertCell(2);
                            c3.innerHTML=data[i].A;
                            var c4=row.insertCell(3);
                            c4.innerHTML=data[i].B;
                            var c5=row.insertCell(4);
                            c5.innerHTML=data[i].C;
                        }
}
</script>
<form action="{{ url_for('result') }}" method=post class=add-entry>
    <h2>todo list:</h2>
       <textarea name=content rows=2 cols=20></textarea>
       <input type=submit value=submit>
</form>
</body>
</html>


